body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* sessao do perfil define cor de fundo da div, formato da imagem de perfil */
.container {
    background-color: #2c2f33;
    color: #ffffff;
    border-radius: 10px;
    padding: 60px;
    margin: 10px auto;
    max-width: 95%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.img-thumbnail {
    border-radius: 50%;
    width: 280px;
    height: 280px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-thumbnail:hover {
    transform: scale(1.1);
}

/* Estilo do divisor personalizado */
.custom-divider {
    text-align: center;
    margin: 3rem 0;
    position: relative;
}

.custom-divider::before,
.custom-divider::after {
    content: "";
    display: inline-block;
    width: 30%;
    height: 1px;
    background-color: #6c757d;
    position: absolute;
    top: 50%;
}

.custom-divider::before {
    left: 0;
}

.custom-divider::after {
    right: 0;
}

.custom-divider span {
    font-weight: bold;
    padding: 0 15px;
    color: #6c757d;
    font-size: 40px;
}

/* cards tecnologia */

.full-width {
    max-width: 95%;
    margin: auto;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* softskills */

.row.mb-3 {
    width: 95%;
    margin: 0 auto;
    background-color: #2c2f33;
    padding: 10px;
    border: 2px solid #444;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.row.mb-3:hover {
    transform: scale(1.03);
}

.row.mb-3 .col-6.text-start span {
    color: #ffffff;
    font-weight: bold;
}

/* botao whastapp */

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: opacity 0.3s ease;
}

.whatsapp-button:hover {
    opacity: 0.8;
}